        <!-- header -->
        <div id="header">
            <div class="overlay"></div>
            <div class="headerContent">
                <h1>Blog mutuelle </h1>
            </div>
        </div>
        <!-- end header -->
        <!-- breadcrumb -->
        <section id="breadcrumb-top" class="no-top-padding">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog mutuelle 
                        </li>
                    </ol>
                </nav>
            </div>
        </section>
        <!-- end breadcrumb -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <!-- banner -->
                   <%if(isBannerDisplayed){%>
           <%- include partials/banner-blog.ejs %>
        <%}%>
                        <!-- end banner -->
                </div>
            </div>
            <!-- blog -->
            <section class="gray-bg hidden-section particles-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="section-text">
                            <h2>Nos articles sur les mutuelles </h2>
                            <span class="section-separator"></span>
                            <p>Retrouvez dans cette section nos derniers articles sur les mutuelles 
                        <div class="listing-item-grid_container-blog col-12">
                            <div class="row">
                                <% resultBlog?..forEach((item, i)=> {
                                    %>
                                    <!--  listing-item-grid  -->
                                    <div class="col-sm-4">
                                        <a href="/blog/<%= item?.slug %>/">
                                            <div class="listing-item-grid">
                                                <img class="bg"
                                                    src="<%= item?.x_featured_media_large ? item?.x_featured_media_large : item?.x_featured_media_original %>"
                                                    alt="Image article blog <%= item?.title?.rendered %>"
                                                    loading="lazy" />
                                                <div class="d-gr-sec"></div>
                                                <div class="listing-item-grid_title">
                                                    <h3><a class="title-card-blog" href="/blog/<%= item?.slug %>/">
                                                            <%= item?.title?.rendered %>
                                                        </a></h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!--  listing-item-grid end  -->
                                    <%})%>
                            </div>
                        </div>
            </section>
            <!-- end blog -->
            <div class="container">
                <div class="row">
                    <!-- banner -->
                   <%if(isBannerDisplayed){%>
           <%- include partials/banner-blog.ejs %>
        <%}%>
                        <!-- end banner -->
                </div>
            </div>
        </div>
        </div>
        </div>
