<link rel="stylesheet" async href="css/blog.min.css">
    <link rel="stylesheet" href="css/tables.css" async>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "<%= data?.title.rendered %>",
          "author": {
            "@type": "Person",
            "name": "<%= data?.x_author %>"
          },
          "publisher": {
            "@type": "Organization",
            "name": "Mon Urgence Dermatologique",
            "logo": {
              "@type": "ImageObject",
              "url": "<%= website.url %>/images/marker.png"
            }
          },
          "datePublished": "<%= data?.x_date %>"
        }
    </script>
</head>

<body>
    <!-- nav -->
    <%- include partials/header.ejs %>
        <!-- end nav -->
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <!-- breadcrumb -->
                    <section id="breadcrumb-top" class="no-top-padding" style="padding:0">
                        <div class="container">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/"><%= website.name %></a></li>
                                    <li class="breadcrumb-item"><a href="/blog/">Blog</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <%= data?.title.rendered %>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </section>
                    <!-- end breadcrumb -->
                    <!-- banner -->
                    <div style="margin: 30px;"></div>
                    <!-- end banner -->
                    <div class="list-single-main-item fl-wrap block_box blog-container">
                        <!-- article -->
                        <div class="col-sm-12" style="padding:0">
                            <div class="listing-item-grid" id="main-bg">
                                <div class="bg qcd"
                                    data-qcd="aHR0cHMlM0ElMkYlMkZ3d3cubGlua2VkaW4uY29tJTJGaW4lMkZtYXRoaWxkZS1oZWtpbWlhbi00OTkzMzA5MiUyRiUzRm9yaWdpbmFsU3ViZG9tYWluJTNEZnI"
                                    style="background:url('<%= data?.x_featured_media_large? data?.x_featured_media_large : data?.x_featured_media_original %>');background-size: cover;">
                                </div>
                                <div class="d-gr-sec"></div>
                            </div>
                        </div>
                        <!-- article end -->

                        <h1>
                            <%= data?.title?.rendered %>
                        </h1>
                        <div class="post-opt">
                            <span>
                                <strong>Date de publication: </strong>
                                <%= data?.x_date %> -
                                    <strong>Date de mise à jour:</strong>
                                    <%= data?.x_metadata?.wp_last_modified_info %>
                            </span>
                        </div>
                        <div id="content"></div>
                        <p id="text" style="display:none">
                            <%= data?.content?.rendered %>
                        </p>
                        <span class="fw-separator"></span>
                        <%if(data?.authors){%>
                            <div class="post-author" style="margin-bottom: 20px;">
                                <div>
                                    <img class="author-img" src="<%= data?.authors[0]?.avatar_url ?? ''%>" alt="">
                                </div>
                                <span class="author-name">
                                    <%= data?.authors[0]?.display_name %>
                                </span>
                                <span>
                                    <%= data?.authors[0]?.description %>
                                </span>
                            </div>
                            <%}%>
                                <%if(data?.authors[1]){%>
                                    <div class="post-author">
                                        <div>
                                            <img class="author-img" src="<%= data?.authors[1]?.avatar_url ?? '' %>"
                                                alt="">
                                        </div>
                                        <span class="author-name">
                                            Article révisé par : <%= data?.authors[1]?.display_name %>
                                        </span>
                                        <span>
                                            <%= data?.authors[1]?.description %>
                                        </span>
                                    </div>
                                    <%}%>
                    </div>
                </div>
            </div>
            <!-- blog -->

            <section class="gray-bg hidden-section particles-wrapper" style="margin-top: 50px;">
                <div class="container">
                    <div class="row">
                        <div class="section-text">
                            <h2>Vous aimerez également</h2>
                            <span class="section-separator"></span>
                            </p>
                        </div>
                        <div class="listing-item-grid_container-blog col-12 col-12">
                            <div class="row">
                                <% alsoLike?.forEach((item, i)=> {
                                    %>
                                    <!--  listing-item-grid  -->
                                    <div class="col-md-4">
                                        <a href="/blog/<%= item?.slug %>/">
                                            <div class="listing-item-grid">
                                                <img class="bg"
                                                    src="<%= item?.x_featured_media_large ? item?.x_featured_media_large : item?.x_featured_media_original %>"
                                                    alt="Image article blog <%= item?.title?.rendered %>"
                                                    loading="lazy" />
                                                <div class="d-gr-sec"></div>
                                                <div class="listing-item-grid_title">
                                                    <h3><a class="title-card-blog" href="/blog/<%= item?.slug %>/">
                                                            <%= item?.title?.rendered %>
                                                        </a>
                                                    </h3>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!--  listing-item-grid end  -->
                                    <%})%>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end blog -->
            <div class="container">
                <div class="row">
                    <!-- banner -->
                   <%if(isBannerDisplayed){%>
           <%- include partials/banner-blog.ejs %>
        <%}%>
                        <!-- end banner -->
                        <div style="margin:20px 0"></div>
                </div>
            </div>
        </div>
        <!-- SCRIPTS -->
            <script src="https://cdn.jsdelivr.net/npm/marked@3.0.7/marked.min.js"></script>
            <script>
                let text = document.getElementById('text').innerHTML;

                function htmlDecode(input) {
                    var e = document.createElement('div');
                    e.innerHTML = input;
                    return e.childNodes[0].nodeValue;
                }
                let temp = htmlDecode(text);
                document.getElementById('content').innerHTML = marked(temp);
            </script>
            <script>
                let links = document.getElementById('content').querySelectorAll('a');
                links.forEach(element => {
                    let replaced = element.href.replace(/https:\/\/www.api.h2hstudioweb.com\/charliepets/g, "<%= website.url %>/blog");
                    element.setAttribute('href', replaced);
                });
            </script>
            <script>
                window.ComparadiseApplicationConfiguration = {
                    autoMount: true,
                    elementId: 'H2H'
                }
            </script>
            <script src="https://tools.comparadise.tech/iframe-wrapper.js" async></script>
            <!-- END SCRIPTS -->