<!-- header -->
<div id="header" class="header-no-cta">
  <div class="overlay overlay-no-cta"></div>
  <div class="headerContent">
    <h1>Dentistes <%= region.Name %></h1>
  </div>
</div>
<!-- end header -->
<!-- breadcrumb -->
<section id="breadcrumb-top" class="no-top-padding">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item"><a href="/regions/">Régions</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= professionnelFormatted.pluralCapitalized %> <%= region.Name %>
        </li>
      </ol>
    </nav>
  </div>
</section>
<!-- end breadcrumb -->
<div class="page-content">
  <div class="container">
    <div class="row">
      <!-- banner -->
      <%- include partials/banner.ejs %>
      <!-- end banner -->
      <%cities?.forEach(item=> {%>
      <!--  listing-item-grid  -->
      <div class="col-sm-6 lazy" style="padding: 0">
        <ul class="no-list-style">
          <li class="clearfix" style="margin-bottom: 10px">
            <div class="widget-posts-descr" style="text-align: left">
              <a
                style="
                  color: #253b56;
                  font-weight: 500;
                  font-size: 20px;
                  white-space: nowrap;
                "
                href="/recherche/dentiste/<%= item?.city_slug %>/"
                title=""
              >
                <%= item?.city %>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <!--  listing-item-grid end  -->
      <%})%>
      <div style="margin: 30px 0"></div>
      <!-- banner -->
      <%- include partials/banner.ejs %>
      <!-- end banner -->
    </div>
  </div>
</div>
